@media (max-width:767px) {
  /* MOBILE HEADER SECTION */
  .wrapper{
    max-width: 767px;
  }

  .header{
    text-align: center;
    width: 100%;
  }
  .login{
    padding-top: 20px;
  }

  .logo{
    margin-top: 127px;
    margin-bottom: 40px;
  }

  .promo__text{
    margin-top: 20px;
    margin: 20px 15% 0px 15%;
  }

  .promo__button{
    margin-top: 19px;
    margin-bottom: 138px;
  }

  /* MOBILE ABOUT SECTION */

  .about__desktop{
    display: none;
  }

  .about{
    width: 94%;
    margin: 0 auto;
  }

  .about__title{
    padding-top: 36px;
    text-align: center;
  }

  .about__mobile{
    width: 300px;
    margin: 0 auto;
    margin-top: 15px;
  }

  .about__mobile__item--wrapper{
    padding: 69px 20px 20px;
  }

  .step--one{
    background: url(../img/aboutMobileStep1.jpg) no-repeat;
    margin-bottom: 2px
  }

  .step--two{
    background: url(../img/aboutMobileStep2.jpg) no-repeat;
    padding-top: 30px;
  }

  .step--three{
    background: url(../img/aboutMobileStep3.jpg) no-repeat;
  }

  .about__mobile__item__num{
    display: inline-block;
    margin-left: 2px;
    padding: 7px 12px 5px 14px;
    background: #ff4e50;
    border-radius: 10px;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat Bold';
  }
  .about__mobile__item__title{
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Montserrat Bold';
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .about__mobile__item__text{
    color: #ccc;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
  }

  /* MOBILE PARTNER SECTION */

  .partner{
    width: 87.5%;
    margin: 0 auto;
    text-align: center;
  }

  .partner__title{
    text-align: center;
    margin-top: 39px;
  }

  .partner__item{
    margin-bottom: 29px;
  }

  .partner__item__image{
    margin: 0 auto;
  }

  .partner__item__text{
    margin: 0 auto;
  }

  .partner__list{
    margin-top: 15px;
  }

  /* MOBILE DISOVER SECTION */

  .discover{
    width: 94%;
    margin: 38px auto;
  }

  .discover__title{
    text-align: center;
  }

  /* MOBILE SEARCH SECTION */

  .search{
    width: 87.5%;
    margin: 0 auto;
  }

  .search__title{
    text-align: center;
  }

  .search__text{
    text-align: center;
    margin: 13px 0 17px;
  }

  .search__field{
    width: 100%;
  }

  .search__button{
    width: 100%;
    margin: 10px auto;
  }

  /* MOBILE FOOTER SECTION */

  .footer{
    width: 100%;
    margin-top: 30px;
  }

  .footer__box{
    margin-top: 20px;
  }

  .footer__title{
    text-align: center;
  }

  .footer__company{
    width: 60.6%;
    margin: 19px auto;
  }

  .footer__company__title{
    text-align: center;
  }

  .footer__company__list{
    margin: 0 auto;
    width: 195px;
  }

  .footer__company__item{
    display: inline-block;
    margin-right: 4.8%;
  }

  .footer__company__item:last-child{
    margin-right: 0;
  }

  .footer__partners{
    text-align: center;
  }

  .footer__designed{
    margin-top: 19px;
    padding-bottom: 17px;
  }

  .footer__designed__logo{
    text-align: center;
  }

  .footer__designed__title{
    text-align: center;
  }
}
