<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Final Exam</title>
    <link rel="stylesheet" href="css/main.css"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

    <!--[if IE 8]>
    <script src="https://raw.githubusercontent.com/aFarkas/html5shiv/master/src/html5shiv.js"></script>
    <link rel="stylesheet" href="css/ie8.css">
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/script.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="login">
          <div class="login__item">
            <a class="login__link" href="#">Log in</a>
          </div>
          <div class="login__item">
            <a class="login__link" href="#">Sign up</a>
          </div>
          </div>
          <h1 class="logo"><a class="logo__link" href="#">Urlaubsglück</a></h1>
          <div class="promo">
            <h2 class="promo__title">Share your holiday dreams</h2>
            <p class="promo__text">And find the perfect partner to fullfill it</p>
            <button class="promo__button">Find your holiday partner</button>
          </div>
      </header><!-- header -->
      <section class="about">
          <h1 class="about__title">How Urlaubsglück works?</h1>
          <div class="about__mobile">
            <div class="about__mobile__item step--one">
              <div class="about__mobile__item--wrapper">
                <h3 class="about__mobile__item__num">Step 1</h3>
                <h2 class="about__mobile__item__title">Sed leo enim, condimentum</h2>
                <p class="about__mobile__item__text">
                  Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                </p>
              </div>
            </div>
            <div class="about__mobile__item step--two">
              <div class="about__mobile__item--wrapper">
                <h3 class="about__mobile__item__num">Step 2</h3>
                <h2 class="about__mobile__item__title">Morbi velit risus</h2>
                <p class="about__mobile__item__text">
                  Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
                </p>
              </div>
            </div>
            <div class="about__mobile__item step--three">
              <div class="about__mobile__item--wrapper">
                <h3 class="about__mobile__item__num">Step 3</h3>
                <h2 class="about__mobile__item__title">Sed leo enim, condimentum</h2>
                <p class="about__mobile__item__text">
                  Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                </p>
              </div>
            </div>
          </div>
          <div class="about__desktop">
            <ul class="about__list">
              <li class="about__item about__item--first">
                <ul class="bxslider">
                  <li>
                    <img class="about__item__img" src="img/sliderImage1.jpg" />
                    <div class="about__item__wrapper">
                      <h3 class="about__item__num">Step 1</h3>
                      <h2 class="about__item__title">Sed leo enim, condimentum</h2>
                      <p class="about__item__text">
                        Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                      </p>
                    </div>
                  </li>
                  <li>
                    <img class="about__item__img" src="img/sliderImage2.jpg" />
                    <div class="about__item__wrapper">
                      <h3 class="about__item__num about__item__num--step2">Step 2</h3>
                      <h2 class="about__item__title">Morbi velit risus</h2>
                      <p class="about__item__text">
                        Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
                      </p>
                    </div>
                  </li>
                  <li>
                    <img class="about__item__img" src="img/sliderImage3.jpg" />
                    <div class="about__item__wrapper">
                      <h3 class="about__item__num">Step 3</h3>
                      <h2 class="about__item__title">Sed leo enim, condimentum</h2>
                      <p class="about__item__text">
                        Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                      </p>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="about__item">
                <ul class="bxslider">
                  <li>
                    <img class="about__item__img" src="img/sliderImage2.jpg" />
                    <div class="about__item__wrapper">
                      <h3 class="about__item__num about__item__num--step2">Step 2</h3>
                      <h2 class="about__item__title">Morbi velit risus</h2>
                      <p class="about__item__text">
                        Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
                      </p>
                    </div>
                  </li>
                  <li>
                    <img class="about__item__img" src="img/sliderImage3.jpg" />
                    <div class="about__item__wrapper">
                      <h3 class="about__item__num">Step 3</h3>
                      <h2 class="about__item__title">Sed leo enim, condimentum</h2>
                      <p class="about__item__text">
                        Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                      </p>
                    </div>
                  </li>
                  <li>
                    <img class="about__item__img" src="img/sliderImage1.jpg" />
                    <div class="about__item__wrapper">
                      <h3 class="about__item__num">Step 1</h3>
                      <h2 class="about__item__title">Sed leo enim, condimentum</h2>
                      <p class="about__item__text">
                        Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                      </p>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="about__item about__item--last">
                <ul class="bxslider">
                  <li>
                    <img class="about__item__img" src="img/sliderImage3.jpg" />
                    <div class="about__item__wrapper">
                      <h3 class="about__item__num">Step 3</h3>
                      <h2 class="about__item__title">Sed leo enim, condimentum</h2>
                      <p class="about__item__text">
                        Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                      </p>
                    </div>
                  </li>
                  <li>
                    <img class="about__item__img" src="img/sliderImage1.jpg" />
                    <div class="about__item__wrapper">
                      <h3 class="about__item__num">Step 1</h3>
                      <h2 class="about__item__title">Sed leo enim, condimentum</h2>
                      <p class="about__item__text">
                        Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                      </p>
                    </div>
                  </li>
                  <li>
                    <img class="about__item__img" src="img/sliderImage2.jpg" />
                    <div class="about__item__wrapper">
                      <h3 class="about__item__num about__item__num--step2">Step 2</h3>
                      <h2 class="about__item__title">Morbi velit risus</h2>
                      <p class="about__item__text">
                        Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
                      </p>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
      </section><!-- about -->
      <section class="partner">
          <h1 class="partner__title">Meet a partner for your best holiday</h1>
          <ul class="partner__list clearfix">
            <li class="partner__item">
              <div class="partner__item__image">
                <img src="img/partnerItemImage1.jpg" alt="partner" />
              </div>
              <h3 class="partner__item__title">Bradley Hunter</h3>
              <p class="partner__item__text">
                Based in Chicago. I love playing tennis and loud music.
              </p>
            </li>
            <li class="partner__item">
              <div class="partner__item__image">
                <img src="img/partnerItemImage2.jpg" alt="partner" />
              </div>
              <h3 class="partner__item__title">Lucas Marsha</h3>
              <p class="partner__item__text">
                I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.
              </p>
            </li>
            <li class="partner__item">
              <div class="partner__item__image">
                <img src="img/partnerItemImage3.jpg" alt="partner" />
              </div>
              <h3 class="partner__item__title">Heather Walker</h3>
              <p class="partner__item__text">
                I'm a happy person that loves cats and climbing on mountains.
              </p>
            </li>
            <li class="partner__item">
              <div class="partner__item__image">
                <img src="img/partnerItemImage4.jpg" alt="partner" />
              </div>
              <h3 class="partner__item__title">Bradley Hunter</h3>
              <p class="partner__item__text">
                Based in Chicago. I love playing tennis and loud music.
              </p>
            </li>
          </ul>
          <button class="partner__button" type="button" name="button">See other partners</button>
      </section><!-- partner -->
      <section class="discover">
        <h1 class="discover__title">Discover holiday activity ideas</h1>

        <script type="text/template" id="container">
            <div class="grid">
                <% for (var i = 0; i < 10; i++) { %>
                <figure class="grid-item">
                    <img src="<%= hits[i].webformatURL %>" alt="picture" class="discover__img"/>
                    <figcaption class="discover__img--title"><%= hits[i].tags.split(', ')[1] %></figcaption>
                </figure>
                <% } %>
            </div>
        </script>
      </section><!-- discover -->
      <section class="search">
        <h1 class="search__title">Discover holiday activity ideas</h1>
        <p class="search__text">
          Hi! What are your holiday interests?
        </p>
        <input type="search" placeholder="Enter your interests" class="search__field">
        <button class="search__button" type="button" name="button">Search partners</button>
      </section><!-- search -->
      <footer class="footer">
        <div class="footer__box clearfix">
          <h1 class="footer__logo"><a class="footer__title" href="#">Urlaubsglück</a></h1>
          <div class="footer__company">
            <h3 class="footer__company__title">Company</h3>
            <ul class="footer__company__list">
              <li class="footer__company__item"><a class="footer__company__link" href="#">About</a></li>
              <li class="footer__company__item"><a class="footer__company__link" href="#">Contacts</a></li>
              <li class="footer__company__item"><a class="footer__company__link" href="#">Press</a></li>
              <li class="footer__company__item"><a class="footer__company__link" href="#">Blog</a></li>
            </ul>
          </div>
          <h3 class="footer__partners">Partners</h3>
          <div class="footer__designed">
            <h4 class="footer__designed__title">Designed by</h4>
            <a class="footer__designed__logo" href="#"><img src="img/logoFooter.png" alt="" /></a>
          </div>
        </div>
      </footer><!-- footer -->
    </div>
  </body>
</html>
