@media (max-width:1023px) and (min-width: 768px){

  /* MOBILE HEADER */

  .menu__search{
    margin-right: 3.9%;
  }

  .bx-wrapper .bx-controls-direction a{
    margin-top: 30px;
  }

  /* MOBILE CONTENT */

  .content-box__buy__price--value{
    font-size: 11px;
    left: 125px;
  }
}
