$body-color:                  #f1f1f1;
$back-line-color:             #e1e1e1;
$main-text-color:             #53545e;
$secondary-text-color:        #a6a7b0;
$main-wrapper-color:          #ffffff;
$wrapper-text-color:          #bfc0c3;
$container-border-color:      #eaeaea;
$prefooter-text-color:        #f1f1f1;
$select-bg-color:             #dedede;
