@media (max-width:424px){

  /* HEADER */

  .header__text{
    margin-top: 83px;
    padding-bottom: 10px;
  }

  /* POSITION */

  .position_box__block{
    margin-left: 6%;
  }

  /* COPYRIGHT */

  .copyright__view{
    margin-top: 20px;
  }

}
